<p></p>
<div id="class<%= it %>" class="card">
        <p style="margin-left: 2rem;">
        <span class="user_name"><%= reply.username %></span>
        <span class="reply_info" ><%= reply.replytime %></span>
        </p> 
        <p style="margin-left: 2rem;"><span>&#128077;</span><%= reply.upvotes %>
        <span style="margin-left:2rem;background: black;">&#128078;</span><%= reply.downvotes %></p>
        <p style="margin-left: 2rem;"><%= reply.solution %></p>
</div>