<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.10.15, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/picture1-122x184.png" type="image/x-icon">
  <meta name="description" content="Learning progress and timeline | L`devpe`">
  
  <title>Progress | L`devpe`</title>
  <link rel="stylesheet" href="/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/as-pie-progress/css/progress.min.css">
  <link rel="stylesheet" href="/tether/tether.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/animatecss/animate.min.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  <script>
    var myVar = setInterval(myTimer, 10000);
    function myTimer() {
      document.getElementById("my_home").innerHTML = "<span class=\"mbri-home mbr-iconfont mbr-iconfont-btn\"></span>Home";
      
      document.getElementById("my_home").setAttribute("href","/");
      
      
        
    }
    </script>
  <script>
    var myVar = setInterval(myTimer, 6000);
    function myTimer() {
      document.getElementById("my_home").innerHTML = "<span class=\"mbri-unlock mbr-iconfont mbr-iconfont-btn\"></span>Logout";
      
      document.getElementById("my_home").setAttribute("href","/logout");
      
      
        
    }
    </script>

  
</head>
<body>
  <section class="progress-bars3 cid-rEd6kTz6Rm" id="progress-bars3-o">
 
     
<div style="height:3rem;"></div>   
    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Learning Progress</h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
            We care every learner, hence we track your progress. Here is the detailed analysis of your learning.</h3>
    
        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="<%= message[0] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        HTML</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="<%= message[1] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        CSS</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="<%= message[2] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">Bootstrap</h4>
                </div>                 
            </div>

            

            

            
        </div>
</div></section>

<section class="engine"><a href="https://google.com">free web maker</a></section><section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-l">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="/images/picture1-122x184.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">L`devpe`</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/" id="my_home">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Home</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-success-outline display-4" href="/explore"><span class="socicon socicon-buffer mbr-iconfont mbr-iconfont-btn"></span>Explore</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/progress"><span class="mobi-mbri mobi-mbri-speed mbr-iconfont mbr-iconfont-btn"></span>Progress</a> <a class="btn btn-sm btn-white-outline display-4" href="/challenger"><span class="mbri-edit mbr-iconfont mbr-iconfont-btn"></span>Challenger Week</a> <a class="btn btn-sm btn-primary-outline display-4" href="/resources"><span class="mbri-bookmark mbr-iconfont mbr-iconfont-btn"></span>Resources</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/daily_practice" target="_blank"><span class="mobi-mbri mobi-mbri-code mbr-iconfont mbr-iconfont-btn"></span>Editor</a></div>
        </div>
    </nav>
</section>

<section class="progress-bars3 cid-rEd6Vgve7f" id="progress-bars3-r">
 
     

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-4"></h2>

        
    
        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="<%= message[3] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Javascript</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="<%= message[4] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        jQuery</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="<%= message[5] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        AngularJS</h4>
                </div>                 
            </div>

            

            

            
        </div>
</div></section>

<section class="progress-bars3 cid-rEd6WdMEZL" id="progress-bars3-s">
 
     

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-4"></h2>

        
    
        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="<%= message[6] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        JSON</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="<%= message[7] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        AJAX</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="<%= message[8] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        React</h4>
                </div>                 
            </div>

            

            

            
        </div>
</div></section>

<section class="progress-bars3 cid-rEd6ZqOV0v" id="progress-bars3-u">
 
     

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-4"></h2>

        
    
        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="<%= message[9] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5"><p>
                        SQL</p></h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="<%= message[10] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        PHP</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="<%= message[11] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        ASP</h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress4" role="progressbar" data-goal="<%= message[11] %>">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Node.js</h4>
                </div>                 
            </div>

            

            
        </div>
</div></section>

<section class="timeline1 cid-rEd6lCfIkB" id="timeline1-p">

    

    

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            Timeline
        </h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">Our proposed timeline to get a good grip on web development. Choice is purely yours.</h3>

        <div class="container timelines-container" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element reverse separline">
                 <div class="timeline-date-panel col-xs-12 col-md-6  align-left">         
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 1</p>
                    </div>
                </div>
           <span class="iconBackground"></span>
            <div class="col-xs-12 col-md-6 align-right">
                <div class="timeline-text-content">
                    <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Front-end (beginner level)</h4>
                    <p class="mbr-timeline-text mbr-fonts-style display-7">Practice HTML</p>
                 </div>
            </div>
            </div>
            <!--2-->
            <div class="row timeline-element  separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">&nbsp;Week 2</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Front-end (beginner level)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Practice HTML, CSS hand in hand</p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 3</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Front-end (intermediate level)</h4>      
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Practice HTML, CSS, Bootstrap hand in hand
                        </p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="row timeline-element  separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 4</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Front-end (Final Practice)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Try out and build websites with different front-end elements. You can only master it through regular practice&nbsp;</p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 5</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Javascript (Beginner Level)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">Start programming in Javascript</p>
                    </div>
                </div>
            </div>
            <!--6-->
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                       <p class="mbr-timeline-date mbr-fonts-style display-5">Week 6</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Javascript (Intermediate Level)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Tune yourself and try various actions that can be possible to your websites.</p>
                    </div>
                </div>
            </div>
            <!--7-->
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 7&nbsp;</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Javascript (Final practice)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Take a challenging and good looking website and try to produce your own one with all the actions you have learnt in Java Script.</p>
                    </div>
                </div>
            </div>
            <!--8-->
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 8 &nbsp;&nbsp;</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            jQuery (Beginner)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Start optimizing the code with jQuery</p>
                    </div>
                </div>
            </div>
            <!--9-->
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">Week 9&nbsp;</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            AngularJS (Beginner)</h4>

                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Introduce yourself to this javascript library and try out different features it provides</p>
                    </div>
                </div>
            </div>
            <!--10-->
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                       <p class="mbr-timeline-date mbr-fonts-style display-5">
                          Week 10</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            JSON, AJAX, React (Beginner)</h4> 
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Learn any of these tools depending on your need.</p>
                    </div>
                </div>
            </div>
            <!--11-->
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                       <p class="mbr-timeline-date mbr-fonts-style display-5">Week 11</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Node.js (Beginner)</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">Get used with this library and make use of it in websites you design</p>
                    </div>
                </div>
            </div>
            <!--12-->
            <div class="row timeline-element">
                <div class="timeline-date-panel col-xs-12 col-md-6 align-right">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-5">
                           Week 12</p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            SQL</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            You are good to go. Explore databases and use them in the projects you build.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="/web/assets/jquery/jquery.min.js"></script>
  <script src="/popper/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/smoothscroll/smooth-scroll.js"></script>
  <script src="/as-pie-progress/jquery-as-pie-progress.min.js"></script>
  <script src="/tether/tether.min.js"></script>
  <script src="/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/dropdown/js/nav-dropdown.js"></script>
  <script src="/dropdown/js/navbar-dropdown.js"></script>
  <script src="/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
